altgraph==0.17.4
auto-py-to-exe==2.43.3
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
Cython==3.0.10
Eel==0.16.0
et-xmlfile==1.1.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.7
importlib_metadata==7.1.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyparsing==3.1.2
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.32.2
shiboken6==6.7.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
whichcraft==0.6.1
zipp==3.18.2
zope.event==5.0
zope.interface==6.4.post2
